{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/addpost.css' %}">
    <title>Blogging House</title>
</head>
<body>
    <header>
        <nav>
            <h1 id="site-title">Blogging House</h1>
            <ul id="navbar-list">
                <li class="navbar-links">  <a href="homepage"> <img src="{% static 'images/newsfeed.png' %}"></a></li>
                <li class="navbar-links"> <a href="profile"> <img src="{% static 'images/profile.png' %}"></a></li>
                <li class="navbar-links"><a href="signout"> <img src="{% static 'images/logout.png' %}" alt=""></a></li>
                <li id="contact-us"><button>Contact us</button></li>
            </ul>
        </nav>
    </header>
    <div class="container" style="background-image: url({% static 'images/addpostbg.jpg' %})">
        <div>
            <form action="submitpost" method="POST">
                {% csrf_token %}
                 <div id="tags"> <p style="font-size: 24px; color:aliceblue; border-bottom: 1px #fff solid; ">Add tags to your blog:</p>
                    <input class="tags" type="checkbox" name="science">  Science <br>
                    <input class="tags" type="checkbox" name="maths">  Maths <br>
                    <input class="tags" type="checkbox" name="history">  History <br>
                    <input class="tags" type="checkbox" name="programming">  Programming <br>
                    <input class="tags" type="checkbox" name="cs">  Computer Science <br>
                    <input class="tags" type="checkbox" name="cpp">  c++/java/python <br>
                    <input class="tags" type="checkbox" name="ml">  Machine Learning <br>
                    <input class="tags" type="checkbox" name="iot">  Internet of Things <br>
                    <input class="tags" type="checkbox" name="robots">  Robots <br>
                    <input class="tags" type="checkbox" name="space">  Space <br>
                    <input class="tags" type="checkbox" name="lit">  Literature <br>
                    <input class="tags" type="checkbox" name="app">  App Development <br>
                    <input class="tags" type="checkbox" name="pol">  Political <br>
                    <input class="tags" type="checkbox" name="sports">  Sports <br>
                    <input class="tags" type="checkbox" name="cric">  Cricket <br>
                    <input class="tags" type="checkbox" name="bollywood">  Bollywood <br>
                    <input class="tags" type="checkbox" name="hollywood">  Hollywood <br>
                    <input class="tags" type="checkbox" name="tv">  TV <br>
                    <input class="tags" type="checkbox" name="life">  Life <br>
                </div>
                <div class="visibility" id="visibility" ><p style="font-size: 24px; color:aliceblue; border-bottom: 1px #fff solid; ">Keep your Blog as:</p> <br>
                    <input class="visibility" type="radio" name="visibility" value="private">Private <br>
                    <input class="visibility" type="radio" name="visibility" checked value="public">Public <br>
                </div>
                <input type="text" name="title" placeholder="Enter Title" id="blog-title">
                <textarea name="blog" id="blog" cols="80" rows="15" autofocus style="background: #f7ebeb" >
                    </textarea>
                <button id="submit-button" type="submit">Add Post</button>

                
            </form>
        </div>
    </div>
    
</body>
</html>